<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>My Portfolio - Home</title>
    <!-- link_for is a jinja2 function (Flask's templing engine)
     that helps generate URLs for static files.
     It makes sure the path to your css is correst. -->
    <link
      rel="stylesheet"
      href="{{url_for('static',
     filename='css/style.css')}}"
    />
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About me</a>
        <!-- add more links -->
      </nav>
    </header>
    <main>
      <h1>Welcome to my Portfolio</h1>
      <p>
        This is the home page. Learn more about me <a href="/about">here</a>.
      </p>
    </main>
    <footer>
      <p>&copy; 2025 My flask based Portfolio</p>
    </footer>
  </body>
</html>
